<a href="https://colab.research.google.com/github/Fabiotbp/Projects-learn/blob/main/revisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revisão: Introdução à Programação

https://view.genial.ly/635878801ea7ae001956d98b

DADOS
- Inteiro (int)
- Float
- String
- Boolean


OPERADORES
Atribuição "="
Aritméticos
- Soma "+"
- Subtração "-"
- Multiplicação "*"
- Divisão "/"
- Módulo "%" - resto da divisão

RELACIONAIS
- Igual "=="
- Diferente "!="
- Maior que ">"
- Maior ou igual que ">="
- Menor que "<"
- Menou ou igual que "<="

LOGICOS
 - And
 - Or
 - Not ou !

 ESTRUTURAS CONDICIONAIS
 - Função if():
 - Função elif():
 - Função else:

 LAÇOS OU LOOPS
 Laço for
- Precisamos definir uma variável contadora, uma condição de parada, e o incremento ou decremento.

Função range()
- Pode receber um, dois ou três argumentos;
- É usado geralmente em conjunto com o comando for.

Laço while
- É necessário incluir o incremento ou decremento dentro do laço.

break
- Interrompe um loop

continue
- Interrompe a “volta atual” do loop.


FUNÇÕES

Estrutura:
- Nome
- Parâmetro(s)
- Resposta ou retorno

Sintaxe:
- Palavra reservada def (apenas para declaração de funções)
- Indentação

Funções nativas
Ex. print(), range(),
type() etc.

ENTRADA E SAÍDA DE DADOS

- Função print()
- Função input()


TRATAMENTO DE ERROS

Resolução com if
- Para tratar erros previsíveis

Resolução com exceptions

- Para tratar erros "inesperados"
- Podemos "levantar exceções" manualmente com raise Exception()

In [ ]:
# Operações Aritméticas
# // divisão inteira exemplo 5/2 será igual a 2
# Ordem de precedência 1 - parenteses [] 2 - potencias ** 3 - * , / , // , / 4 - + , -

5+3*2
5**2
19//2
19/2
365**522
18%2
122%3
4**3
pow(4,3) # funçao potencia
81**(1/2) # raiz quadrada
127**(1/3) # raiz cubica

"oi" + "olá"
"oi" *5
"="*20
print("="*20)
#nome = str(input("Qual é o seu nome?"))
#print("Prazer em te conhecer {:=^20}!".format(nome))

n1 = int(input("Um valor: "))
n2 = int(input("Outro valor:"))
#print("A soma vale {}". format(n1+n2))
s = n1 + n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
e = n1 ** n2
print("A soma é {}, \n o produto é {} e a \n divisão é {:.3f}".format(s, m, d), end=" ")
print("Divisão inteira {} e potencia {}".format(di, e))

In [ ]:
print("Antecessor e Sucessor") # desafio 005
n1 = int(input("Informe um número: "))
print("O número digitado foi", n1)
print("O antecessor é:", n1 - 1 )
print("O sucessor é:", n1 + 1)

In [ ]:
n = int(input("Digite um número:")) # Versão Curso em Vídeo
a = n - 1
s = n +1
print("Analisando o valor {}, seu antecessor é {} e o sucessor é {}".format(n, a, s))

In [ ]:
n = int(input("Digite um número:")) # Versão Curso em Vídeo
print("Analisando o número {}, seu antecessor é {} e o sucessor é {}".format(n, (n-1), (n+1)))

Digite um número:7
Analisando o número 7, seu antecessor é 6 e o sucessor é 8

In [ ]:
print("Dobro, triplo e raiz quadrada de um número!")
n1 = int(input("Informe um numero:"))
d = n1 + 2
t = n1 * 3
r = n1 ** (1/2)
print("O numero escolhido foi {}. \n O dobro do número é {} \n O triplo do número é {} \n a raiz quadrada do número é {}.".format(n1, d, t, r), end="")

In [ ]:
# Desafio 006
# Crie um algoritmo que lei um número e mostre o seu dobro, triplo e raiz quadrada
n = int(input("Digite um número:"))
d = n * 2
t = n * 3
r = n ** (1/2)
print("O dobro de {} vale {}.".format(n, d))
print("O triplo de {} vale {}. \nA raiz quadrada de {} é igual a {:.2f}.".format(n, t, n, r))

In [ ]:
n = int(input("Digite um número:"))
print("O dobro de {} vale {}.".format(n, (n*2)))
print("O triplo de {} vale {}. \nA raiz quadrada de {} é igual a {:.2f}.".format(n, (n*3), n,(n**(1/2))))

In [ ]:
# Desafio 007
# Desenvolva um programa que leia as duas notas de um aluno e calcule e mostre a sua média.
n1 = float(input("Primeira nota do aluno: "))
n2 = float(input("Segunda nota do aluno: "))
média = (n1 +n2) / 2
print("A média entre {:.1f} e {:.1f} é igual a {:.1f}.".format(n1, n2, média))
# O arredondamento pode ser usado incluindo :.1f em {}

In [ ]:
# Desafio 008
# Escreva um programa que leia um valor em metros e o exiba convertido em centímetros e milímetros.

# Relembrando: km hm dam m dm cm mm

medida = float(input("Uma distância em metros: "))
cm = medida * 100
mm = medida * 1000
print("A medida {}m corresponde a {:.0f}cm e {:.0f}mm.".format(medida, cm, mm))

In [ ]:
## Desafio 009
# Faça programa que leia um número inteiro qualquer e mostre a sua tabuada.

num = int(input("Digite um número para ver sua tabuada: "))
print("-"* 12)
print("{} x {:2} = {}".format(num, 1, num*1))
print("{} x {:2} = {}".format(num, 2, num*2))
print("{} x {:2} = {}".format(num, 3, num*3))
print("{} x {:2} = {}".format(num, 4, num*4))
print("{} x {:2} = {}".format(num, 5, num*5))
print("{} x {:2} = {}".format(num, 6, num*6))
print("{} x {:2} = {}".format(num, 7, num*7))
print("{} x {:2} = {}".format(num, 8, num*8))
print("{} x {:2} = {}".format(num, 9, num*9))
print("{} x {:2} = {}".format(num, 10, num*10))
print("-"* 12)

In [ ]:
# Aula 013 - Curso em Vídeo - Laços de Repetição

s = 0
for c in range(0,4):
  n = int(input("Digite um valor: "))
  s += n # += é a mesma coisa que s + n
print("O somatório de todos dos valores é {}.".format(s))

In [ ]:
# Estrutura condicional simples apenas um if, estrutura condicional composta tem um else.

n1 = float(input("Digite a primeira nota: "))
n2 = float(input("Digite a segunda nota: "))
m = (n1+n2) / 2
print("A sua média foi {:.1f}".format(m))
#if m >= 6.0:
  #print("Sua média foi boa! PARABÉNS!")
#else:
  #print("Sua média foi ruim! ESTUDE MAIS!")
print("PARABENS!" if m >=6 else "ESTUDE MAIS!")   # CONDIÇÃO SIMPLICIADA

In [ ]:
numero = 5
print(numero)
print(type(numero))

5
<class 'int'>

In [ ]:
bebida_favorita = "Suco"
print(bebida_favorita)
print(type(bebida_favorita))

bebida_preco = 5.99
print(bebida_preco)
print(type(bebida_preco))

bebida_alcoolica = False
print(bebida_alcoolica)
print(type(bebida_alcoolica))

Suco
<class 'str'>
5.99
<class 'float'>
False
<class 'bool'>

# Operadores Aritméticos

In [ ]:
num1 = 10
num2 = 2
print(num1/num2)

5.0

# Operadores Relacionais

In [ ]:
# >, <
print(12 !=8)

texto = "pão"
print(texto != "Pão")

booleano = False
print(booleano != True)

True
True
True

# Estruturas Condicionais

In [ ]:
valor_por_pessoa = 40.0
bom_amigo = False

orcamento = 30
if(orcamento >= valor_por_pessoa):
  print("Consigo pagar.")
elif(bom_amigo == True):
  print("Obrigado por me ajudar a pagar.")
else:
  print("Pedir ajuda a outro amigo.")

# Estrutura de Repetição

In [ ]:
i = 0
while(i < 3):
  print("Olá mundo")
  i = i + 1

for i in range(0,3): #ou range(3)
  print("Nova frase")

In [ ]:
for i in range(6):
  print("Regue a planta", i)

#for i in range(6):
   #planta_atual = str(i)
   #print("Regue a planta " + planta_atual)

Regue a planta 0
Regue a planta 1
Regue a planta 2
Regue a planta 3
Regue a planta 4
Regue a planta 5

# **Função**

In [ ]:
def escrever_multiplicacao (num1, num2):
  resultado = str(num1) + " x " + str(num2) + " = " + str(num1 * num2) # ou criar uma variável multiplicação = num1 * num2 e  declara em str(multiplicacao)
  return resultado

resposta = escrever_multiplicacao(5,8)
print(resposta)

In [ ]:
def mostrar_numero():
  numero_valido = False
  print("Escreva um número menou ou igual a 100.")
  while(numero_valido == False):
    try:
      num = int(input())
      if(num > 100):
        print("O número precisa ser menou ou igual a 100.")
      else:
        print("Boa! Você escolheu o número: " + str(num))
        numero_valido = True
    except:
      print("O valor inserido deve ser um número inteiro.")

mostrar_numero()

O valor inserido deve ser um número inteiro.
158
O número precisa ser menou ou igual a 100.
asa
O valor inserido deve ser um número inteiro.
1
Boa! Você escolheu o número: 1

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']
print(lista_frutas)

# Imprimirá: ['maçã', 'banana', 'pera']

['maçã', 'banana', 'pera']

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']

# 'maçã' tem o índice 0
# 'banana' tem o índice 1
# 'pera' tem o índice 2

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']
print(lista_frutas[0])

# Imprimirá: 'maçã'

maçã

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']
fruta_preferida = lista_frutas[2]

print(fruta_preferida)
print(lista_frutas)

# O primeiro print() imprimirá: 'pera'
# O segundo print() imprimirá: ['maçã', 'banana', 'pera']

pera
['maçã', 'banana', 'pera']

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']
quantidade_frutas = len(lista_frutas)

print(quantidade_frutas)

# Imprimirá o número 3, pois lista_frutas tem três elementos

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']

print(len(lista_frutas))

# Também imprimirá o número 3

3

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']

# O valor do índice de 'pera', o último elemento do array, é 2
# O valor do len(lista_frutas) é 3

In [ ]:
lista_frutas = ['maçã', 'banana', 'pera']

print(lista_frutas[0])
print(lista_frutas[1])
print(lista_frutas[2])

# Imprimirá:
# maçã
# banana
# pera

In [ ]:
# Percorrer arrays - Python

lista_frutas = ['maçã', 'banana', 'pera']

for i in range(3):
  print(lista_frutas[i])

# Imprimirá:
# maçã
# banana
# pera

In [ ]:
lista_num = [2, 45, 65, 78, 126, 987, 457, 345, 679, 107, 2345, 452, 3, 34, 560]

for i in range(15):
  print(lista_num[i])

In [10]:
lista_num = [2, 45, 65, 78, 126, 987, 457, 345, 679, 107, 2345, 452, 3, 34, 560]

for i in range(len(lista_num)):
  print(lista_num[i])

2
45
65
78
126
987
457
345
679
107
2345
452
3
34
560